table, th,tr, td {
    border: solid 1px black;
}
th{
    background-color: black;
    text-align: center;
    color: white;
}
.btn{
    width: 70px;
    border: solid 3px;
    height: 23px;
    padding-top: 3px;
    text-align: center;
    font-size: 13px;
    color: white;
    background: rgb(5, 59, 19);
    font-style: italic;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    opacity: 0.9s;
}
.btn:hover{
    background: darkcyan;
}
input.txtcaja{
    border-radius: 2px;
    border: solid 0px;
    font-size: 18px;
    background:lightblue;
    transition: all 0.5s ease-in-out;
}
input.txtcaja:hover{
    background: lightcyan;
}